@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0:#000000;
    --cor1:#A69F95;
    --cor2:#7A7A7A;
    --cor3:#FFFFFF;
    --cor4:#606B73;

    --font-padrao:Arial, Verdana,Helvetica,sans-serif;
    --font-destaque:"Bebas Neue", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    font-family: var(--font-padrao);
}

header {
    background-color: var(--cor0);
    text-align: center;
    padding: 0.1px;
}

header > h1 {
    color: var(--cor3);
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.203);
    font-weight: normal;
}

nav {
    padding: 20px 0px;
    background-color: var(--cor2);
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px 0px 5px 5px;
    transition-duration: .3s;
}

nav > a {
    padding: 20px;
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor0);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor4);
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    color:var(--cor0);
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 2em;
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main img {
    width: 100%;
}

div.video {
    background-color: var(--cor0);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom:52%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}